<div class="container">
  <div class="jumbotron">
    <h1 class="display-3 ml-3">Commande <%= @order.id %></h1>
    <p class="lead"> Voici un recapitulatif de votre commande</p>
    <p> Total de votre commande : <%= @order.total_price %> €</p>
    <hr class="my-4">
    <p class="lead">
      <%= link_to 'Retourner au dashboard', orders_path, class:"btn btn-success btn-lg" %>
    </p>
  </div>
</div>
<div class="container m-5 mx-auto">
  <div class="row">
    <div class="col card-header d-flex align-items-center justify-content-center">
      <h4> Image </h4>
    </div>
    <div class="col card-header d-flex align-items-center justify-content-center">
      <h4> Nom de l'image </h4>
    </div>
    <div class="col card-header d-flex align-items-center justify-content-center">
      <h4> Prix </h4>
    </div>
    <div class="col card-header d-flex align-items-center justify-content-center">
      <h4> Action </h4>
    </div>
  </div>
  <% @order.items.each do |item| %>
    <div class="row border-bottom">
      <div class="col border-bottom d-flex align-items-center justify-content-center">
        <img src="<%= item.image_url %>" class="mw-100">
      </div>
      <div class="col border-bottom d-flex align-items-center justify-content-center">
        <h5> <%= item.title %> </h5>
      </div>
      <div class="col border-bottom border-left border-right d-flex align-items-center justify-content-center">
        <h5> <%= item.price%> € </h5>
      </div>
      <div class="col border-bottom border-right d-flex align-items-center justify-content-center">
        <%= link_to 'Lien produit', item_path(item) %>
      </div>
    </div>
  <% end %>
</div>
</div>