<div class="container">
    <div class="jumbotron ">
        <h1 class="display-3">KITTENSHOP</h1>
        <p class="lead">Vous aimez les chats ? Vous aimez les photos ? Alors vous aimerez nos photos de chats !</p>
        <hr class="my-4">
        <p>Blabla</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>


<div class="container d-flex flex-wrap">
    <% Item.all.each do |item| %>
    <div class="card border-dark mb-3 mx-auto col-md-4" style="max-width: 20rem;">
      <div class="card-header"><%= item.title %></div>
      <div class="card-body">
        <img src="<%= item.image_url %>" alt="cat picture" width="200px"></img>
        <p class="card-text"><%= item.description%></p>
        <button type="button" class="btn btn-primary btn-sm"><%= link_to "Voir le produit", item_path(item[:id]), class: "dropdown-item" %></button>
      </div>
    </div>
    <% end %>

</div>


    <%=javascript_include_tag "carousel"%>