<div class="container">
	<div class="jumbotron">
		<h1 class="display-3 ml-3">Votre panier</h1>
		<p class="lead"> Voici les produits de votre panier, vous pouvez le valider ou en ajouter d'autres.</p>
		<p> Total de votre panier : <%= @cart.total %> €</p>
		<hr class="my-4">
		<p class="lead">

			<%= form_tag orders_path do %>
			<article>
				<% if flash[:error].present? %>
				<div id="error_explanation">
					<p><%= flash[:error] %></p>
				</div>
				<% end %>
				<label class="amount">
					<span>Amount: <%= @cart.total %> € </span>
				</label>
			</article>

			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			data-description="Payment"
			data-amount="<%= @cart.total_stripe  %>"
			data-currency="eur"
			data-locale="auto"> </script>
			<% end %>

		</p>
	</div>
</div>
<div class="container m-5 mx-auto">
	<div class="row">
		<div class="col card-header d-flex align-items-center justify-content-center">
			<h4> Retirer </h4>
		</div>
		<div class="col card-header d-flex align-items-center justify-content-center">
			<h4> Image </h4>
		</div>
		<div class="col card-header d-flex align-items-center justify-content-center">
			<h4> Nom de l'image </h4>
		</div>
		<div class="col card-header d-flex align-items-center justify-content-center">
			<h4> Prix à l'unité </h4>
		</div>
		<div class="col card-header d-flex align-items-center justify-content-center">
			<h4> Action </h4>
		</div>
	</div>
	<% @cart_items.each do |cart_item| %>
	<div class="row border-bottom">
		<div class="col border-bottom border-left d-flex align-items-center justify-content-center">
			<%= button_to "Retirer", item_cart_item_path(cart_item.id), method: :delete, class:"btn btn-outline-danger" %>
		</div>
		<div class="col border-bottom d-flex align-items-center justify-content-center">
			<img src="<%= cart_item.image_url %>" class="mw-100">
		</div>
		<div class="col border-bottom d-flex align-items-center justify-content-center">
			<h5> <%= cart_item.title %> </h5>
		</div>
		<div class="col border-bottom border-left border-right d-flex align-items-center justify-content-center">
			<h5> <%= cart_item.price%> € </h5>
		</div>
		<div class="col border-bottom border-right d-flex align-items-center justify-content-center">
			<a href="#" class="card-link">Lien du produit</a>
		</div>
	</div>
	<% end %>
</div>
