
    <div class="w-75 mx-auto d-flex">
        <div class="w-50 my-auto p-4">
            <img src="<%= image_path(@item.image_url)%>" class="mh-100 mw-100" alt="" srcset="">
        </div>
        <div class="w-50 my-auto p-4">
            <div class="h2 mb-3 ml-3">
                <%=@item.title%>
            </div>
            <div class=" ml-2 mt-2  h3">
                <%=@item.price%>$
            </div>
            <div class="text-muted mb-3">
                <%=@category%>
            </div>
            <%=@item.description%>
            <div class="w-100 d-flex m-5">
                <div class="w-25 d-flex justify-content-center align-content-center">
                    <div class="form-group">
                        <label for="exampleSelect1">Nombre</label>
                        <select class="form-control btn-primary" id="exampleSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                </div>
                <div class="w-25 d-flex justify-content-center align-content-center">
                    <% if already_in_cart? %>
                    <%= button_to "Retirer", item_cart_item_path(@item), method: :delete, class:"btn btn-outline-danger" %>
                    <% else %>
                    <%= button_to "Ajouter", item_cart_items_path(@item), method: :post, class:"btn btn-success d-flex align-items-center" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>  